.container{
    
    font-family: 'Poppins';
    position:static;
    top: 5px;
    background: white;
    border-radius: 10px;
    margin-left: 20vw;
    width: 80vw;
    height: 100vh;
    

    

    
 
}
.head{
    margin-left: -80%;
    position: relative;
    font-family:'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 22px;
    line-height:27px;
    color:#191D23;
    top: 30Px ;
    left: 10px;

}
.rto{
    font-family: 'Poppins';
    font-style: normal;
    margin-right: -70%;
    top: 40px;
    background: white;
    color: #02B0AF;
    border:1px #02B0AF solid;
    border-radius: 10px;
    transition: 0.3s;
    padding: 10px;
    font-weight: bold;
    line-height: 20px;
}

.rto:hover{
    background-color: #02B0AF;
    color:white;
}
    
.sort1,.sort2{
    border-radius: 4px;
    border:1px  #64748B solid;
    background: white;
    color: #64748B;
   
}
.sort1{
    margin-right: 10px;
    margin-left: 5px;
}
.sort2{
    margin-right: -650px;
}

















.tablist{
    display: flex;
 
    flex-direction: row;
    
    margin-left: -66%;
    margin-top: 30px;
    
    margin-left: 50px;
   
    
}
.tabhead{
    
    
    font-family:'Poppins';
    
    font-style: normal;

    font-size:4.5mm;
    
    background: white;
    
    padding: 10px;
   
    width: 200px;

    border: white;
    
    border-bottom:1px #E7EAEE solid;
    
    transition: 0.03s;

    display: flex;
    
    flex-direction: row;

    align-items: center;

    justify-content: center;
    
}

.tabhead:hover{
    border-bottom: 1px #02B0AF solid;
}

.tabhead:focus{
    border-bottom: 3px #02B0AF solid;
}


.taction{
    background: #0079E9;
    border-radius: 4px;
    border:1px #0079E9 solid;
    color:white;
}
.taction:hover{
    background: white;
    color:#0079E9;
    border:1px #0079E9 solid;
    
}
.accept{
    background:  #DAFFEB;
    color:#006A31;
    border-radius: 4px;
    border: #DAFFEB;

}
.accept:hover{
    background:  #006A31;
    color:  #DAFFEB;
    

}

.count{
    background: #02B0AF;
    color:white;
    border-radius: 100%;
    width: 15px;
    height: 15px;
    padding:2px ;
    border: 1px#02B0AF solid;
    margin-left: 10px;
    font-size: 3.5mm;
}

.tab{
    display: flex;
    flex-direction: column;

}
.tab1 {
    column-gap: 25px;
    margin-left: 50px;
    border-collapse: separate;
    width:50vm;
    font-size: 0.9em;
    font-family: sans-serif;
    margin-top: 10px;
    background-color:white;

    
    
}

.tab1 thead tr {
    
    background-color: white;
    color: #ffffff;
    text-align: left;
    border-spacing: 10px;
    border:1px green solid;
    
}

.tab1 th{
  
    padding: 5px 15px;
    
    border:1px #64748B solid;
    color:#64748B;
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 600;
    font-size: 12.9951px;
    line-height: 18px;
    border-spacing: 10px;
}

.tab1 td {
    display: able-cell;
    padding: 12px 15px;
    font-family: 'Manrope';
    font-style: normal;
    overflow-x: hidden;
    max-width:  300px;
    text-overflow: clip;
    word-wrap: break-word;
    
}

.tab1 tbody tr {
    border-bottom: 0.92822px solid #E7EAEE;
}




